// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #3e82e7;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.3);

$meterright-background:  darken($background-color, 15%);

// ----------------------------------------------------------------------------
// Widget-meter styles
// ----------------------------------------------------------------------------
.widget-meterright {

  background-color: $background-color;

  input.meterright {
    background-color: $meterright-background;
    color: #fff;
  }

  .title {
    color: $title-color;
  }

  .wrap {
   width: 100% !important;
   display: inline-block;
   margin:0 auto;
  }

  .left_col {
     float:left;
     width: 700px; 
  }

  .right_col {
     float: right;
     width: 300px;
  }
  .more-info {
    color: $moreinfo-color;
  }

  .subcaption {
    color: rgba(255, 255, 255, 0.7);
    font-size: 25px;
    font-weight: 600;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

}

.active {
  background: red;
}
