<% content_for :title do %>Gallery<% end %>
<div class="gridster">
  <ul>
   <li data-row="1" data-col="1" data-sizex="4" data-sizey="3">
	<iframe src="http://132.187.12.139:5601/app/kibana#/dashboard/A213-dashboard" width="90%" height="100%"></iframe>
      </li>
  </ul>
</div>
