<% content_for :title do %>Lunch<% end %>
<div class="gridster">
  <ul>
   <li data-row="1" data-col="1" data-sizex="4" data-sizey="3">
      <div data-id="tumblr" data-view="BigImage" data-image="" style="background-color:#632F00;" data-max="true" data-text="" data-moreinfo=""></div>
      </li>
  </ul>
</div>
