<% content_for :title do %>Lunch<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="3">
      <div data-id="tumblr" data-view="BigImage" data-image="" style="background-color:#632F00;" data-max="true" data-text="" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="2">
      <div data-id="dees" data-view="Table" data-title="Dees's Lunch Menu"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="3">
      <div data-id="mensateria" data-view="Table" data-title="Mensateria"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="days-till-friday" data-view="Text" data-title="X days" data-text="till Friday." data-moreinfo="Current date: XXXX" style="background-color:#FF981D;"></div>
    </li>


  </ul>
</div>
