<% content_for :title do %>Lunch<% end %>
<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [416, 350]   // For 2560px screen width with 6 columns it should be 416px in width per column: 5+416+5  +5+416+5  +5+416+5 +5+416+5 +5+416+5  +5+416+5 = 2556
  Dashing.numColumns = 6
});
</script>



<script>
$(document).ready(function(){
	setTimeout(function(){
		$(".icon-background").animate({opacity: 0},10000);
	},10000);
});
</script>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
      <div data-id="mensahubland" data-view="Lunchtable" data-title="Mensa am Hubland" style="background-color:#ff6512;"></div>
      <i class="fa fa-cutlery icon-background"></i>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="3">
      <div data-id="mensateria" data-view="Lunchtable" data-title="Mensateria" style="background-color:#9b4313;"></div>
      <i class="fa fa-cutlery icon-background"></i>
    </li>

   <li data-row="1" data-col="5" data-sizex="2" data-sizey="3">
      <div data-id="dees" data-view="Lunchtable" data-title="Dees's Lunch Menu" style="background-color:#624012;"></div>
      <i class="fa fa-cutlery icon-background"></i>
    </li>

  </ul>
</div>
