<% content_for :title do %>LS3 Main Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/i3logo.svg"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="days-till-friday" data-view="Text" data-title="X days" data-text="till Friday." data-moreinfo="Current date: XXXX" style="background-color:#FF981D;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="3">
      <div data-id="vacations" data-view="Table" data-title="Abwesenheit"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    	<div data-id="coffee-text" data-view="Text" data-title="Hello" data-text="" data-moreinfo="keep calm and make coffee"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
    <div data-id="coffee" data-view="Coffee" data-title="Coffee" style="background-color:#47bbb3;"></div>
  </li>

  <li data-row="1" data-col="3" data-sizex="1" data-sizey="2">
    <div data-id="tumblr" data-view="BigImage" data-image="http://i.imgur.com/JycUgrg.jpg" style="background-color:#632F00;" data-max="true" data-text="" data-moreinfo=""></div>
  </li>

  </ul>
</div>
