<% content_for :title do %>LS3 Main Dashboard<% end %>
<script type='text/javascript'>
    $(function() {
        // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
        Dashing.widget_base_dimensions = [355, 350] // 5 px border, screen 2560x1080
        Dashing.numColumns = 7
    });
</script>

<script>
    $(document).ready(function() {
        setTimeout(function() {
            $(".icon-background").animate({
                opacity: 0
            }, 10000);
        }, 10000);
    });
</script>
<div class="gridster">
    <ul>

        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="elvis" data-view="Image" data-image="/i3logo.svg" data-width="280" data-height="280"></div>
        </li>

        <li data-row="1" data-col="2" data-sizex="2" data-sizey="3">
            <div data-id="vacations" data-view="Table" data-title="Absence Times" style="background-color:#b01e00;"></div>
            <i class="fa fa-plane icon-background"></i>
        </li>
<!--        <li data-row="1" data-col="5" data-sizex="2" data-sizey="3">
            <div data-id="ls3_events" data-view="Table" data-title="Upcoming Appointments" style="background-color:#00c13f;"></div>
            <i class="fa fa-plane icon-background"></i>
        </li>
-->

        <li data-row="1" data-col="5" data-sizex="2" data-sizey="1">
            <div data-id="coffee-text" data-view="Meterright" data-text="Letzter Kaffee ist von 17:47 Uhr." data-min="0" data-max="100" data-moreinfo="keep calm and make coffee" data-value=100 data-addclass-active="isLow" style="background-color:#00c13f"></div>
            <i class="fa fa-coffee icon-background"></i>
        </li>

        <li data-row="2" data-col="7" data-sizex="1" data-sizey="2">
            <div data-id="chuck" data-view="Text" data-title="Team Facts" data-moreinfo="Team Member Facts." style="background-color:#1faeff;">
            <i class="fa fa-check-square-o icon-background"></i>
        </li>


        <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="days-till-friday" data-view="Text" data-title="X days" data-text="till Friday." data-moreinfo="" style="background-color:#77b900;"></div>
            <i class="fa fa-calendar icon-background"></i>
        </li>

        <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
            <div data-id="whatsanalyzer" data-view="Number_nonshortened" data-title="WhatsAnalyzer Chats" style="background-color:#006ac1;"></div>
            <i class="fa fa-gamepad icon-background"></i>
        </li>

<!--        <li data-row="2" data-col="5" data-sizex="2" data-sizey="2">
            <div data-id="coffee" data-view="Coffee" data-title="Coffee Maker" style="background-color:#ff981d;"></div>
            <i class="fa fa-coffee icon-background"></i>
        </li> -->
        <li data-row="2" data-col="5" data-sizex="2" data-sizey="2">
            <div data-id="cat" data-view="Image" data-image="/cat2.gif" data-width="100%" data-height="100%"></div>
        </li>
<!--        <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
            <div data-id="yomoapp-downloads" data-view="Number_nonshortened" data-title="YoMoApp Downloads" style="background-color:#199900;"></div>
            <i class="fa fa-android icon-background"></i>
        </li> -->

	<li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
            <div data-id="yomoapp-rating-count" data-view="Number_nonshortened" data-title="YoMoApp Video Session Count" style="background-color:#199900;"></div>
            <i class="fa fa-android icon-background"></i>
        </li>


        <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
            <div data-id="yomoapp-instances" data-view="Number" data-title="Running YoMoApp Instances" style="background-color:#008287;"></div>
            <i class="fa fa-android icon-background"></i>
        </li>


        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-view="Clock" style="background-color:#2572eb;"></div>
            <i class="fa fa-clock-o icon-background"></i>
        </li>

        <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
            <div data-id="uptime" data-view="Text" data-title="" style="background-color:#56c5ff;"></div>
            <i class="fa fa-gamepad icon-background"></i>
        </li>

    </ul>
</div>
