<% content_for :title do %>XKCD!<% end %>


<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="6" data-sizey="3">
    	<div data-view="DailyXKCD" data-id="xkcd-of-the-day"></div>
    </li>
  </ul>
</div>
