<% content_for :title do %>XKCD!<% end %>

<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [350, 350]
  Dashing.numColumns = 6
});
</script>
<script>
  function set_body_height() { // set body height = window height
    $('body').height($(window).height());
  }
$(document).ready(function(){
    $(window).bind('resize', set_body_height);
    set_body_height();	
    setTimeout(function(){
        $(".icon-background").animate({opacity: 0},10000);
    },10000);
});
</script>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="6" data-sizey="3">
    	<div data-view="DailyXKCD" data-id="xkcd-of-the-day"></div>
    </li>
  </ul>
</div>
