// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  white;

$header-color:     rgba(0, 0, 0, 0.7);

$title-color:      rgba(0, 0, 0, 0.7);

$caption-color:    rgba(0, 0, 0, 0.7);

$published-color:  rgba(0, 0, 0, 0.7);

$updated-at-color: rgba(0, 0, 0, 0.3);

// ----------------------------------------------------------------------------
// Widget-daily-xkcd styles
// ----------------------------------------------------------------------------
.widget-daily-xkcd {
  background-color: $background-color;
  vertical-align: top !important;
  padding: 0px 0px !important;

  .wrapper {
    max-height: 100%;
  }

  .header {
    color: $header-color;

    font-size: 65px;
    font-variant: small-caps;
  }
  
  .fit {
    max-width: 99%;
    max-height: 99%;
  }
  .center {
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
  }
  //.xkcd-image {
  //}
  .date {
    color: $published-color;
    margin-bottom: 0.5vh;
    font-size: x-large;
    text-align: center;
  }

  .caption {
    color: $caption-color;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0.5vh;
  }

  .updated-at {
    color: $updated-at-color;
    position: relative;
    padding: 0;
    margin: 0;
    bottom:0;
  }
}
